body {
  background-color: #22223b;
  color: #f2e9e4;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.b {
  padding-left: 15%;
}

.home {
  padding-top: 7.5%;
  padding-bottom: 2%;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}

.about {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
}

.projects {
  padding-top: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fa {
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #333533;
  color: white;
}

.fa-facebook {
  background: #333533;
  color: white;
}

.fa-linkedin {
  background: #333533;
  color: white;
}

.fa-github {
  background: #22223b;
  color: white;
}