body {
  text-align: center;
  background-color: #0D0129;
  color: #f4f4f4;
  font-family: 'Poppins';
}

/* NAV BAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: inline;
  float: left;
  padding: 14px 5px;
}

.top-hvr {
  display: block;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.topnav {
  overflow:hidden;
}

.top-hvr
{
  text-decoration:none;
  color:#f4f4f4;
  position: relative;
  letter-spacing: 5px;
}
.top-hvr:before
{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.top-hvr:hover:before {
  visibility: visible;
  width: 75%;
}

.navbar-right {
  float: right;
}

.contact {
  text-align: center;
  justify-content: center;
}

/* home */
.home {
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  letter-spacing: 5px;
  text-align: left;
  padding-left: 15%;
  padding-right: 15%;
}

/* Contact */
.contact {
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  letter-spacing: 5px;
  text-align: left;
  padding-left: 15%;
}
.cv {
  background-color:#0D0129;
  color:#f4f4f4;
  padding: 18px 50px;
  text-align: center;
  font-size:20px;
  border-color: #f4f4f4;
  margin: 4px 2px;
  transition: 0.1s;
}
.cv:hover
{
  background-color:#5eead4;
  color:#0d0129;
  text-align: center;
  border-color: #5eead4;
  transition: 1s;
}

.contact_me
{
  background-color:#0D0129;
  color:#f4f4f4;
  padding: 18px 50px;
  text-align: center;
  font-size:20px;
  border-color: #f4f4f4;
  margin: 4px 2px;
  transition: 0.1s;
}
.contact_me:hover
{
  background-color:#5eead4;
  color:#0d0129;
  text-align: center;
  border-color: #5eead4;
  transition: 1s;
}

/* About Me */
.about {
  margin-top: 7.5%;
  margin-bottom: 7.5%;
  letter-spacing: 5px;
  overflow: hidden;
  padding-left: 15%;
  padding-right: 15%;
}


.about h1 {
  display: inline;
  float: left;
  margin-right: 25%;
  text-align: center;
  justify-content: center;
  padding: 40px 40px;
}

.about p {
  position: right;
  text-align: left;
  padding: 20px 20px;
  margin-left: 0;
}

/* My Projects */
.grid-container {
  display: grid;
  grid: auto / auto auto;
  grid-gap: auto;
  padding: auto;
}

.grid-container > div {
  text-align: center;
  padding: 20px 25%;
  font-size: 30px;
}

.proj-img {
  opacity: 1;
}

.proj-img:hover {
  opacity: 0.5;
  transition: 0.5s;
}

/* BOT NAV BAR */
.botnav {
  overflow: hidden;
  background-color: #0D0129;
  bottom: 0;
  width: 100%;
}

.bot-item {
  display: inline;
  float: left;
  padding: 14px 5px;
}

.bot-hvr {
  display: block;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  color:#f4f4f4;
  position: relative;
  letter-spacing: 5px;
}

/* Social Media */
.social-icons{
	padding:30px;
  text-align: center;
}
.social-icons a{
	color:#fff;
  line-height:30px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
  
}
.social-icons a i{
	line-height:30px;
  font-size:30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  box-shadow: 0px 0px 150px #000000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}